.photo-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.badge,
.status {
  position: relative;
}
.badge {
  border-radius: var(--br-4xl);
  background-color: var(--light-system-success1);
  border: 1px solid var(--light-text-white1);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
.status {
  line-height: 20px;
  display: none;
}
.m-status-dot {
  position: absolute;
  right: -2px;
  bottom: -1px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.m-avatar {
  position: relative;
  border-radius: var(--br-4xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.caesar {
  flex: 1;
  position: relative;
  font-size: var(--text-l-bold1-size);
  line-height: 24px;
  font-weight: 600;
}
.title1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.i-iconx-close-cross-swap1 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.d-divider-border-separator {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--light-border-primary1);
  height: 1px;
  flex-shrink: 0;
}
.username {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.text10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.ceo-of-african {
  position: relative;
  line-height: 20px;
  font-family: var(--font-dm-sans);
  display: flex;
  align-items: center;
  width: 232px;
}
.i-iconcircle-swap {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.button14 {
  position: relative;
  line-height: 20px;
}
.d-link-button {
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.d-drawer,
.text12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-purple);
  font-family: var(--font-dm-sans);
}
.d-drawer {
  position: absolute;
  height: calc(100% - 56px);
  top: 56px;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xl) 0 0 0;
  background-color: var(--color-linen-100);
  box-shadow: var(--box-shadow-elevated-left1);
  border-left: 1px solid var(--light-border-primary1);
  box-sizing: border-box;
  width: 281px;
  overflow: hidden;
  padding: var(--padding-xs) var(--padding-lg) var(--padding-lg);
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--text-m-regular1-size);
  color: var(--light-text-primary1);
  font-family: var(--paragraph-s1);
}
