.icons8-idea-96-1 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  object-fit: cover;
}
.innovative {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
}
.we-strive-to {
  position: relative;
  font-size: var(--text-s-regular1-size);
  line-height: 16px;
  display: inline-block;
  width: 236px;
}
.icons8-idea-96-1-parent,
.innovative-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icons8-idea-96-1-parent {
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-4xs) var(--padding-xs)
    var(--padding-md);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-m-regular1-size);
  color: var(--color-gray-500);
  font-family: var(--text-m-regular1);
}
